<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta name="viewport" content="width=device-width" />

    <title>Stride</title>

    <link rel="icon" href="/public/img/favicon.ico" />

    <link
      rel="preload"
      href="/public/fonts/MarvinVisions-Bold.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/public/fonts/infini-romain.woff"
      as="font"
      crossorigin
    />

    <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/css/stride.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="main">
      <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

      <div class="cover black" data-color="black"></div>

      <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

      <div class="container">
        <div class="title">
          <div class="stride-title">
            <h1 class="logo cursive">Stride</h1>
          </div>

          <a
            class="github-link"
            href="https://github.com/rat9615/stride-magazine"
            target="_blank"
          >
            <svg
              class="github"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="24px"
              height="24px"
              viewBox="0 0 438.549 438.549"
              style="enable-background: new 0 0 438.549 438.549"
              xml:space="preserve"
              data-toggle="tooltip"
              data-placement="top"
              title="Star and fork us on GitHub"
            >
              <defs>
                <linearGradient id="grd" x2="100%" y2="100%">
                  <stop offset="0%" stop-color="#ff9282"></stop>
                  <stop offset="11%" stop-color="#e05050"></stop>
                  <stop offset="22%" stop-color="#e8b71d"></stop>
                  <stop offset="33%" stop-color="#e3e81d"></stop>
                  <stop offset="44%" stop-color="#1de840"></stop>
                  <stop offset="55%" stop-color="#1ddde8"></stop>
                  <stop offset="66%" stop-color="#4d41ec"></stop>
                  <stop offset="77%" stop-color="#e440f3"></stop>
                  <stop offset="100%" stop-color="#e05bec"></stop>
                </linearGradient>
                <mask id="msk">
                  <g fill="white">
                    <path
                      d="M409.132,114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736,15.166,259.057,5.365,219.271,5.365
      c-39.781,0-76.472,9.804-110.063,29.408c-33.596,19.605-60.192,46.204-79.8,79.8C9.803,148.168,0,184.854,0,224.63
      c0,47.78,13.94,90.745,41.827,128.906c27.884,38.164,63.906,64.572,108.063,79.227c5.14,0.954,8.945,0.283,11.419-1.996
      c2.475-2.282,3.711-5.14,3.711-8.562c0-0.571-0.049-5.708-0.144-15.417c-0.098-9.709-0.144-18.179-0.144-25.406l-6.567,1.136
      c-4.187,0.767-9.469,1.092-15.846,1c-6.374-0.089-12.991-0.757-19.842-1.999c-6.854-1.231-13.229-4.086-19.13-8.559
      c-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559
      c-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-0.951-2.568-2.098-3.711-3.429c-1.142-1.331-1.997-2.663-2.568-3.997
      c-0.572-1.335-0.098-2.43,1.427-3.289c1.525-0.859,4.281-1.276,8.28-1.276l5.708,0.853c3.807,0.763,8.516,3.042,14.133,6.851
      c5.614,3.806,10.229,8.754,13.846,14.842c4.38,7.806,9.657,13.754,15.846,17.847c6.184,4.093,12.419,6.136,18.699,6.136
      c6.28,0,11.704-0.476,16.274-1.423c4.565-0.952,8.848-2.383,12.847-4.285c1.713-12.758,6.377-22.559,13.988-29.41
      c-10.848-1.14-20.601-2.857-29.264-5.14c-8.658-2.286-17.605-5.996-26.835-11.14c-9.235-5.137-16.896-11.516-22.985-19.126
      c-6.09-7.614-11.088-17.61-14.987-29.979c-3.901-12.374-5.852-26.648-5.852-42.826c0-23.035,7.52-42.637,22.557-58.817
      c-7.044-17.318-6.379-36.732,1.997-58.24c5.52-1.715,13.706-0.428,24.554,3.853c10.85,4.283,18.794,7.952,23.84,10.994
      c5.046,3.041,9.089,5.618,12.135,7.708c17.705-4.947,35.976-7.421,54.818-7.421s37.117,2.474,54.823,7.421l10.849-6.849
      c7.419-4.57,16.18-8.758,26.262-12.565c10.088-3.805,17.802-4.853,23.134-3.138c8.562,21.509,9.325,40.922,2.279,58.24
      c15.036,16.18,22.559,35.787,22.559,58.817c0,16.178-1.958,30.497-5.853,42.966c-3.9,12.471-8.941,22.457-15.125,29.979
      c-6.191,7.521-13.901,13.85-23.131,18.986c-9.232,5.14-18.182,8.85-26.84,11.136c-8.662,2.286-18.415,4.004-29.263,5.146
      c9.894,8.562,14.842,22.077,14.842,40.539v60.237c0,3.422,1.19,6.279,3.572,8.562c2.379,2.279,6.136,2.95,11.276,1.995
      c44.163-14.653,80.185-41.062,108.068-79.226c27.88-38.161,41.825-81.126,41.825-128.906
      C438.536,184.851,428.728,148.168,409.132,114.573z"
                    />
                  </g>
                </mask>
              </defs>
              <g style="mask: url(#msk)">
                <rect
                  x="-5000"
                  y="0"
                  width="8000"
                  height="8000"
                  fill="url(#grd)"
                >
                  <animateTransform
                    attributeType="XML"
                    attributeName="transform"
                    type="translate"
                    values="0,0; 5000,0; 0,0"
                    dur="10s"
                    repeatCount="indefinite"
                  />
                </rect>
              </g></svg
          ></a>
        </div>

        <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

        <div class="content">
          <h4 class="motto">STRIVEN TO EXCEL</h4>
          <div class="image">
            <img
              src="/public/img/front-page.jpg"
              alt="Magazine"
              class="responsive responsive-small"
            />
          </div>
          <div class="subscribe">
            <div class="row">
              <div class="buttons">
                <a
                  href="/pdf/5fbbd6bf5c9b5d3d7787ecaf"
                  target="_blank"
                  data-toggle="tooltip"
                  title="Download"
                >
                  <svg
                    id="download"
                    id="bold"
                    enable-background="new 0 0 24 24"
                    height="38px"
                    viewBox="0 0 24 24"
                    width="38px"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.617 0-12 5.383-12 12s5.383 12 12 12 12-5.383 12-12-5.383-12-12-12z"
                    />
                    <path
                      d="m8.75 10.25h2.25v-4.25c0-.552.447-1 1-1s1 .448 1 1v4.25h2.25c.669 0 1.002.81.53 1.28l-3.25 3.25c-.146.147-.338.22-.53.22s-.384-.073-.53-.22l-3.25-3.25c-.472-.47-.139-1.28.53-1.28z"
                    />
                    <path
                      d="m17 19h-10c-.553 0-1-.448-1-1s.447-1 1-1h10c.553 0 1 .448 1 1s-.447 1-1 1z"
                    />
                  </svg>
                </a>
                <a
                  href="https://forms.gle/2SVdbL8b4pnpTBTc6"
                  target="_blank"
                  data-toggle="tooltip"
                  title="Suggestions?"
                >
                  <svg
                    id="suggestions"
                    enable-background="new 0 0 512 512"
                    height="38px"
                    viewBox="0 0 512 512"
                    width="38px"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g>
                      <path
                        d="m457 80h-15v-35c0-24.813-20.187-45-45-45s-45 20.187-45 45v12.285c0 15.544-10.438 29.383-25.385 33.653l-14.615 4.176v-.114c0-8.284-6.716-15-15-15h-60c-8.284 0-15 6.716-15 15v67h-177c-24.813 0-45 20.187-45 45v290c0 5.532 3.045 10.615 7.922 13.225 2.218 1.188 4.65 1.775 7.077 1.775 2.91 0 5.812-.846 8.321-2.52l56.222-37.48h285.458c24.813 0 45-20.187 45-45v-157h47c30.327 0 55-24.673 55-55v-80c0-30.327-24.673-55-55-55zm-205 30h30v130h-30zm128 317c0 8.271-6.729 15-15 15h-290c-2.961 0-5.856.877-8.32 2.52l-36.68 24.453v-261.973c0-8.271 6.729-15 15-15h177v63c0 8.284 6.716 15 15 15h60c7.706 0 14.048-5.814 14.896-13.293 13.363 8.522 29.075 13.293 45.415 13.293h22.689zm102-212c0 13.785-11.215 25-25 25h-99.689c-18.238 0-35.271-9.201-45.311-24.246v-89.439l22.856-6.53c27.758-7.931 47.144-33.632 47.144-62.5v-12.285c0-8.271 6.729-15 15-15s15 6.729 15 15v50c0 8.284 6.716 15 15 15h30c13.785 0 25 11.215 25 25z"
                      />
                      <path
                        d="m75 282h100c8.284 0 15-6.716 15-15s-6.716-15-15-15h-100c-8.284 0-15 6.716-15 15s6.716 15 15 15z"
                      />
                      <path
                        d="m335 312h-260c-8.284 0-15 6.716-15 15s6.716 15 15 15h260c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                      />
                      <path
                        d="m335 372h-260c-8.284 0-15 6.716-15 15s6.716 15 15 15h260c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                      />
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="views" data-toggle="tooltip" title="Views"><%= views%></div>
    </footer>
  </body>
  <script src="/public/js/stride.min.js" type="text/javascript"></script>
</html>
